Repository lucasfirmo62/MovieReview, pull requests merged in 2023-06, with the labels that each got.

#252 feat: adicionando frontend dos comentarios
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/components/ViewPublication/styles.css
Labels: Frontend, Release 3

#255 feat,test: adiciona o retorno de todas as criticas de um filme e impl…
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#258 207 criar backend para os comentarios da publicacao
  myapi/usuarios/migrations/0005_comment_date.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#254 210 criar backend para o like e o deslike de uma publicacao
  myapi/usuarios/migrations/0005_deslikes.py
  myapi/usuarios/migrations/0006_deslikes_date_likes_date.py
  myapi/usuarios/migrations/0007_merge_0005_comment_date_0006_deslikes_date_likes_date.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#259 feat: adicionando botao de curtir e descurtir critica
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/components/ViewPublication/styles.css
Labels: Frontend

#260 231 criar backend para listagem dos filmes favoritos de outros usuarios
  myapi/usuarios/migrations/0008_favoriteslist_date.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#263 feat: adiciona campo para adicao de imagem de perfil
  myfrontend/src/components/movieFilter/styles.css
  myfrontend/src/pages/edit-profile/index.js
  myfrontend/src/pages/edit-profile/styles.css
Labels: Frontend, Release 3

#261 204 criar backend para adicionar imagem do usuario
  myapi/usuarios/migrations/0008_user_profile_image.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#277 227 criar frontend para listagem das criticas
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/pages/FilmReviews/index.js
  myfrontend/src/pages/FilmReviews/styles.css
  myfrontend/src/pages/movie/index.js
  myfrontend/src/pages/movie/styles.css
  myfrontend/src/routes.js
Labels: Frontend, Release 3

#269 feat: adiciona frontend da listagem dos favoritos de outros usuarios
  myfrontend/src/pages/favoritosUsers/index.js
  myfrontend/src/pages/favoritosUsers/styles.css
  myfrontend/src/pages/user/index.js
  myfrontend/src/routes.js
Labels: Frontend, Release 3

#264 feat: adiciona frontend para adicionar filmes na watchlist
  myfrontend/src/pages/movie/index.js
  myfrontend/src/pages/movie/styles.css
Labels: Frontend, Release 3

#257 feat,test: adiciona, remove, lista e verifica se um filme esta na wat…
  myapi/usuarios/migrations/0005_watchlist_movie_title_watchlist_poster_img.py
  myapi/usuarios/migrations/0006_watchlist_date.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#262 37 criar back end para retornar os supercriticos com base no numero de criticas
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#283 feat: adiciona integracao para colocar filmes na watchlist
  myfrontend/src/pages/movie/index.js
Labels: Backend, Frontend, Release 3

#287 feat: adiciona frontend para a watchlist de outros usuarios
  myapi/usuarios/serializers.py
  myapi/usuarios/views.py
  myfrontend/src/pages/user/index.js
  myfrontend/src/pages/watchlist/index.js
Labels: Backend, Frontend, Release 3

#272 feat: adiciona carrossel de filmes similares
  myapi/usuarios/migrations/0009_merge_20230625_0946.py
  myfrontend/src/components/MovieCard/index.js
  myfrontend/src/components/MovieCard/styles.css
  myfrontend/src/pages/movie/index.js
  myfrontend/src/pages/movie/styles.css
Labels: Frontend, Release 3

#271 feat: adicionando frontend das notificacoes
  myfrontend/src/components/FragmentDetailsNotification/index.js
  myfrontend/src/components/FragmentDetailsNotification/styles.css
  myfrontend/src/components/header/index.js
  myfrontend/src/components/header/styles.css
  myfrontend/src/components/headerDesktop/index.js
  myfrontend/src/components/headerDesktop/styles.css
  myfrontend/src/pages/favoritos/index.js
  myfrontend/src/pages/favoritosUsers/index.js
  myfrontend/src/pages/followers/index.js
  myfrontend/src/pages/following/index.js
  myfrontend/src/pages/user/index.js
  myfrontend/src/pages/watchlist/index.js
Labels: Frontend, Release 3

#280 241 fazer backend das notificacoes
  myapi/usuarios/migrations/0006_deslikes_date_likes_date.py
  myapi/usuarios/migrations/0006_merge_0005_comment_date_0005_deslikes.py
  myapi/usuarios/migrations/0007_deslikes_date_likes_date_notification.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 3

#282 fix,feat: arruma bug da rolagem e adiciona integracao para a pagina d…
  myapi/usuarios/migrations/0008_favoriteslist_date.py
  myapi/usuarios/migrations/0008_favoriteslist_date_user_profile_image.py
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/pages/FilmReviews/index.js
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/profile/index.js
Labels: Backend, Frontend, Release 3

#281 273 criar frontend para publicação na tela do filme
  myfrontend/package-lock.json
  myfrontend/package.json
  myfrontend/src/components/PublicationModal/index.js
  myfrontend/src/components/PublicationModal/styles.css
  myfrontend/src/pages/movie/index.js
  myfrontend/src/pages/movie/styles.css
Labels: Frontend, Release 3

#276 feat: adiciona integracao para imagem do perfil
  myapi/usuarios/migrations/0009_merge_0008_favoriteslist_date_0008_user_profile_image.py
  myfrontend/src/api.js
  myfrontend/src/components/CardFollower/index.js
  myfrontend/src/components/CardFollower/styles.css
  myfrontend/src/components/Publication/index.js
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/pages/edit-profile/index.js
  myfrontend/src/pages/edit-profile/styles.css
  myfrontend/src/pages/followers/index.js
  myfrontend/src/pages/following/index.js
  myfrontend/src/pages/movie/index.js
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/profile/styles.css
  myfrontend/src/pages/search/index.js
  myfrontend/src/pages/search/styles.css
  myfrontend/src/pages/user/index.js
Labels: Backend, Frontend, Release 3

#286 feat: adiciona integracao da tela de super criticos
  myapi/usuarios/serializers.py
  myapi/usuarios/views.py
  myfrontend/src/components/Trending/index.js
  myfrontend/src/components/Trending/styles.css
  myfrontend/src/components/TrendingCard/index.js
  myfrontend/src/components/TrendingCard/styles.css
  myfrontend/src/components/TrendingCarousel/index.js
  myfrontend/src/components/TrendingCarousel/styles.css
  myfrontend/src/pages/supercriticos/index.js
Labels: Backend, Frontend, Release 3

#288 244 fazer integracao das notificacoes 2
  myapi/usuarios/serializers.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
  myfrontend/src/components/CardNotification/index.js
  myfrontend/src/components/CardNotification/styles.css
  myfrontend/src/components/FragmentDetailsNotification/index.js
  myfrontend/src/components/FragmentDetailsNotification/styles.css
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/components/header/index.js
  myfrontend/src/components/header/styles.css
  myfrontend/src/components/headerDesktop/index.js
  myfrontend/src/components/headerDesktop/styles.css
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/movie/styles.css
  myfrontend/src/pages/notifications/index.js
  myfrontend/src/pages/notifications/styles.css
  myfrontend/src/pages/publication/index.js
  myfrontend/src/pages/publication/styles.css
  myfrontend/src/pages/user/index.js
  myfrontend/src/routes.js
Labels: Backend, Frontend, Release 3

#256 feat: adiciona exclusao da publicacao
  myapi/usuarios/serializers.py
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/profile/index.js
Labels: Backend, Frontend, Release 3

#284 278 fazer integracao para criar publicacao na tela do filme
  myfrontend/src/components/PublicationModal/index.js
  myfrontend/src/pages/movie/styles.css
Labels: Backend, Frontend, Release 3

#266 211 fazer integracao para o like e o deslike
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
  myfrontend/src/App.js
  myfrontend/src/components/MovieCard/index.js
  myfrontend/src/components/PublicationModal/index.js
  myfrontend/src/components/TrendingCard/styles.css
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/components/ViewPublication/styles.css
  myfrontend/src/pages/critics/index.js
  myfrontend/src/pages/critics/styles.css
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/user/index.js
  myfrontend/src/pages/watchlist/styles.css
Labels: Backend, Frontend, Release 3

#293 fix: conserta botao que desaparece
  myfrontend/src/components/headerDesktop/index.js
Labels: bug, Frontend

#296 fix: conserta erro do like e deslike na pagina da publicacao
  myfrontend/src/pages/publication/index.js
Labels: bug, Frontend

#300 fix: resolve bug da listagem dos favoritos de outros usuarios
  myapi/usuarios/models.py
  myfrontend/src/pages/favoritosUsers/index.js
  myfrontend/src/pages/user/index.js
  myfrontend/src/pages/watchlist/index.js
  myfrontend/src/routes.js
Labels: bug, Frontend

#299 fix: arruma bug do retorno das notificacoes
  myfrontend/src/components/FragmentDetailsNotification/index.js
  myfrontend/src/pages/publication/index.js
Labels: bug, Frontend

#291 feat: adiciona rota de recomendacoes
  myfrontend/src/pages/movie/index.js
Labels: Frontend

#305 fix: conserta bug ao nao existir notificacoes
  myfrontend/src/components/header/index.js
Labels: bug, Frontend

#303 fix: arruma bug de retorno para a tela de perfil
  myfrontend/src/pages/profile/index.js
Labels: bug, Frontend

#268 feat: ajustanto tela de perfil
  myfrontend/src/pages/edit-profile/index.js
  myfrontend/src/pages/edit-profile/styles.css
Labels: Frontend, Release 3

#308 fix: conserta bug do comentario
  myfrontend/src/assets/user-default.png
  myfrontend/src/components/Publication/index.js
  myfrontend/src/components/PublicationList/index.js
  myfrontend/src/components/PublicationList/styles.css
  myfrontend/src/components/UserGet/index.js
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/pages/FilmReviews/index.js
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/search/index.js
  myfrontend/src/pages/sign-up.zip
  myfrontend/src/pages/user/index.js
Labels: bug, Frontend
