Repository lucasfirmo62/MovieReview, pull requests merged in 2023-05, with the labels that each got.

#121 29 criar back end para definir um usuario como supercritico
  myapi/usuarios/models.py
  myapi/usuarios/tests.py
Labels: Backend, Release 2

#137 feat: adicionando selo de supercritico
  myfrontend/src/components/SuperCritico/index.js
  myfrontend/src/components/SuperCritico/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/profile/styles.css
Labels: Frontend, Release 2

#136 feat: adiciona componente responsivo para upload das imagens na publi…
  myfrontend/src/components/ImageUpload/index.js
  myfrontend/src/components/ImageUpload/styles.css
  myfrontend/src/components/Publication/index.js
  myfrontend/src/components/menu/styles.css
Labels: Frontend, Release 2

#134 120 adicionar opcao de adicionar imagem na publicacao no backend
  README.md
  myapi/.gitignore
  myapi/requirements.txt
  myapi/usuarios/migrations/0003_publication_imgur_link.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#140 128 fazer integracao para upload das imagens na publicacao
  myapi/usuarios/views.py
  myfrontend/src/components/Publication/index.js
  myfrontend/src/components/Publication/styles.css
Labels: Backend, Frontend, Release 2

#116 26 criar back end para retornar os usuarios a partir de um nome
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#150 #59 criar back end que permita adicionar e remover favoritos
  myapi/usuarios/admin.py
  myapi/usuarios/migrations/0004_favoriteslist_movie_title_favoriteslist_poster_img.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#152 52 criar back end que permita retornar uma lista de filmes favoritados
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#162 fix: altera cores que nao condizem com o restante da aplicacao
  myfrontend/src/components/menu/index.js
  myfrontend/src/index.css
  myfrontend/src/pages/login/index.js
  myfrontend/src/pages/sign-up/index.js
  myfrontend/src/pages/sign-up/styles.css
  myfrontend/src/pages/signup/styles.css
Labels: Frontend, Release 2

#161 Feat: listar favoritos
  myfrontend/src/pages/favoritos/index.js
  myfrontend/src/pages/favoritos/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/routes.js
Labels: Frontend, Release 2

#165 63 criar front end na tela de perfil do usuario que exiba a lista de todos os usuarios que um determinado usuario e seguido
  myfrontend/src/components/CardFollower/index.js
  myfrontend/src/components/CardFollower/styles.css
  myfrontend/src/pages/edit-profile/styles.css
  myfrontend/src/pages/home/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/profile/styles.css
Labels: Frontend, Release 2

#124 64 criar back end que permita retornar todos os usuarios que um determinado usuario e seguido
  myapi/myapi/settings.py
  myapi/usuarios/tests.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#135 feat: Adicionando pesquisa de usuario na header e na pagina de pesquisa
  myfrontend/src/components/header/index.js
  myfrontend/src/components/header/styles.css
  myfrontend/src/pages/search/index.js
Labels: Frontend, Release 2

#123 68 criar back end que permita retornar todos os usuarios que um determinado usuario segue
  myapi/usuarios/tests.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#170 feat: adiciona frontend da tela com os usuarios que o usuario segue
  myfrontend/src/pages/following/index.js
Labels: Backend, Frontend, Release 2

#139 feat: adicionando botao de sequir e desseguir
  myfrontend/src/components/Follow-Unfollow/index.js
  myfrontend/src/components/Follow-Unfollow/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/user/index.js
Labels: Frontend, Release 2

#171 130 fazer integracao para listar os usuarios que um usuario segue
  myapi/usuarios/views.py
  myfrontend/src/components/CardFollower/index.js
  myfrontend/src/components/menu/index.js
  myfrontend/src/pages/favoritos/index.js
  myfrontend/src/pages/followers/index.js
  myfrontend/src/pages/following/index.js
  myfrontend/src/pages/profile/index.js
Labels: Backend, Frontend, Release 2

#167 feat,fix: adiciona integracao para a listagem dos filmes favoritos e …
  myfrontend/src/pages/favoritos/index.js
  myfrontend/src/pages/favoritos/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/profile/styles.css
Labels: Backend, Frontend, Release 2

#172 feat,fix: adiciona integracao para a funcionalidade de seguir e desse…
  myfrontend/src/components/CardFollower/index.js
  myfrontend/src/components/Follow-Unfollow/index.js
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/user/index.js
Labels: Backend, Frontend, Release 2

#159 143 favoritar filmes
  myfrontend/src/api.js
  myfrontend/src/pages/movie/index.js
  myfrontend/src/pages/movie/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/routes.js
Labels: Frontend, Release 2

#157 149 criar backend com listagem das publicacoes do feed
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#175 148 criar frontend com listagem das publicações no feed
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/components/ViewPublication/styles.css
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/home/styles.css
Labels: Frontend, Release 2

#173 151 fazer integracao ao favoritar um filme
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
  myfrontend/src/pages/movie/index.js
Labels: Backend, Frontend, Release 2

#178 177 criar backend para listar publicacoes de um usuario especifico
  myapi/usuarios/tests.py
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
Labels: Backend, Release 2

#179 feat,fix: adiciona integracao do feed e conserta interface da publica…
  myapi/usuarios/urls.py
  myapi/usuarios/views.py
  myfrontend/src/components/CardFollower/index.js
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/components/ViewPublication/styles.css
  myfrontend/src/pages/followers/index.js
  myfrontend/src/pages/following/index.js
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/home/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/user/index.js
  myfrontend/src/routes.js
Labels: Backend, Frontend, Release 2

#180 feat: adiciona a integracao para a listagem das criticas no perfil do…
  myfrontend/src/components/Publication/index.js
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/profile/styles.css
  myfrontend/src/pages/user/index.js
Labels: Backend, Frontend, Release 2

#181 feat:fix: adicionando publicacao no perfil do usuario e ajustando opcoes de publicacao
  myfrontend/src/components/ViewPublication/index.js
  myfrontend/src/pages/home/index.js
  myfrontend/src/pages/profile/index.js
Labels: Backend, Frontend, Release 2

#188 fix: limita o numero de paginas de resultados
  myfrontend/src/pages/search/index.js
Labels: bug

#195 fix: conserta design do fundo das publicacoes
  myfrontend/src/components/menu/styles.css
  myfrontend/src/pages/home/styles.css
  myfrontend/src/pages/profile/styles.css
Labels: bug, Frontend

#194 fix: conserta texto do placeholder ao pesquisar um usuario
  myfrontend/src/components/header/index.js
  myfrontend/src/components/headerDesktop/index.js
Labels: bug, Frontend

#191 fix: retira opcao de seguir e desseguir a si mesmo e conserta o bug d…
  myfrontend/src/components/CardFollower/index.js
  myfrontend/src/components/CardFollower/styles.css
  myfrontend/src/pages/followers/index.js
  myfrontend/src/pages/following/index.js
Labels: bug, Frontend
