Repository lucasfirmo62/MovieReview, pull requests merged in 2023-04, with the labels that each got.

#87 7 cadastro de usuario
  myapi/myapi/settings.py
  myfrontend/package-lock.json
  myfrontend/package.json
  myfrontend/src/api.js
  myfrontend/src/index.css
  myfrontend/src/pages/sign-up/index.js
  myfrontend/src/pages/sign-up/styles.css
Labels: Release 1, Backend, Frontend

#92 32 criar front end da tela do filme adicionando o trailer
  myfrontend/src/pages/movie/index.js
  myfrontend/src/pages/movie/styles.css
  myfrontend/src/pages/signup/index.js
Labels: Release 1, Frontend

#100 refactor: Resolvendo menu e responsividade
  myfrontend/package-lock.json
  myfrontend/package.json
  myfrontend/src/api.js
  myfrontend/src/components/menu/index.js
  myfrontend/src/components/menu/styles.css
  myfrontend/src/pages/profile/index.js
  myfrontend/src/pages/profile/styles.css
Labels: Release 1, Frontend

#96 83 fazer integração do login
  myfrontend/src/pages/login/index.js
  myfrontend/src/pages/login/styles.css
  myfrontend/src/routes.js
Labels: Release 1, Backend, Frontend

#89 62 criar back end para sair da aplicacao e revogar o token de autenticacao
  myapi/myapi/settings.py
  myapi/myapi/urls.py
  myapi/usuarios/migrations/0001_initial.py
  myapi/usuarios/tests.py
  myapi/usuarios/views.py
Labels: Release 1, Backend

#106 90 fazer integracao do editar perfil
  myapi/myapi/settings.py
  myfrontend/package-lock.json
  myfrontend/package.json
  myfrontend/src/pages/edit-profile/index.js
  myfrontend/src/pages/edit-profile/styles.css
Labels: Release 1, Backend, Frontend

#105 feat: adiciona tela de edicao do perfil do usuario
  myfrontend/package-lock.json
  myfrontend/package.json
  myfrontend/src/pages/edit-profile/index.js
  myfrontend/src/pages/edit-profile/styles.css
Labels: Release 1, Backend, Frontend

#102 feat: adicionando integracao do logout e renovacao de token
  myapi/myapi/settings.py
  myfrontend/src/api.js
  myfrontend/src/components/menu/index.js
  myfrontend/src/pages/login/index.js
Labels: Release 1, Backend, Frontend

#107 94 fazer integracao da criar critica
  myapi/myapp/migrations/0002_usuario_delete_user.py
  myapi/usuarios/migrations/0002_remove_publication_movie_director.py
  myapi/usuarios/models.py
  myapi/usuarios/serializers.py
  myapi/usuarios/tests.py
  myfrontend/src/components/Publication/index.js
  myfrontend/src/components/Publication/styles.css
Labels: Release 1, Backend, Frontend
